version: '3.9'

services:
  backend:
    image: aeroserg/backend:latest
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - '1337:1337'
    volumes:
      - strapi_data:/app/.tmp
      - ./uploads:/app/public/uploads
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - '3000:3000'
    networks:
      - app-network

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: KJBwdij84nm48Jn24dn&n3W
      POSTGRES_DB: temp
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
          - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./backend/public/uploads:/app/backend/public/uploads:ro
    ports:
      - '80:80'
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  strapi_data:
  postgres_data:

networks:
  app-network:
    driver: bridge